<% provide(:title, 'Courses') %>

  <div class="row">
    <div class="col-md-7 index-header">
      <h1><%= @course.name %></h1>
      <h4><%= @course.description %></h4>
      <h4><%= pluralize(@course.enrollment, 'enrolled students') %></h4>
    </div>
    <div class="col-md-5">
      <div class="index-header">
        <h1>Students</h1>
      </div>
      <%= render partial: 'users/student_course_summary', collection: @students, as: :student %>
    </div>
  </div>


  <%= will_paginate @students, class: 'center' %>
